<div class="login-page">
  <a routerLink="/">
    <img
      src="assets/trello-logo.svg"
      alt="Trello logo"
      class="trello-main-logo"
    />
  </a>
  <div class="form-container">
    <div class="login-header">Sign In</div>
    <div class="errors" *ngIf="errMsg">{{ errMsg }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="login-input"
      />
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="login-input"
      />
      <button type="submit" class="login-submit-button">Sign In</button>
    </form>
    <div class="bottom-form-links">
      Don't have an account?
      <a routerLink="/register" class="register-link">Register</a>
    </div>
  </div>
</div>
